APP_PORT=8080
ConnectionStrings__German=Host=db.example.com;Port=5432;Database=german;Username=german;Password=change-me;SSL Mode=Require
BootstrapAdmin__Enabled=false
BootstrapAdmin__Username=admin
BootstrapAdmin__Password=change-me
