APP_PORT=8080
ConnectionStrings__German=Host=127.0.0.1;Port=5432;Database=german;Username=german;Password=change-me;SSL Mode=Disable
BootstrapAdmin__Enabled=false
BootstrapAdmin__Username=admin
BootstrapAdmin__Password=
